<footer>
{%- if site.show-style-guide %}
    <!--<a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>-->
    <p class="footer_tekst">©2018 - <a href="http://www.arteveldehogeschool.be/disclaimer">arteveldehogeschool</a> </p>

    <div class="socialmedia">
        <a href="https://www.facebook.com" class="fb-button"></a>
        <a href="https://www.twitter.com" class="tw-button"></a>
        <a href="https://www.youtube.com" class="youtube-button"></a>
        <a href="https://www.instagram.com" class="instagram-button"></a>
    </div>


{%- endif %}
</footer>