footer{
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #06062B !important;
	border-color: #06062B;
    padding: 5px;
    z-index: 1030;
}


.footer_tekst{
    padding: 5px;
    float: left !important;
    color: white !important;
    max-height: 30px !important;
}

a{
    color: white;
}
a:hover{
    color: #FCC304;
}
.socialmedia{
    padding: 5px;
}

.socialmedia a{
    overflow: hidden;
    display: inline-block;
    float: right;
    width: 25px;
    height: 25px;
    margin: 2px;
    background-image: url(sprites.png);
    background-size: 90px auto;
    text-indent: -9999px;
    
 
}


.fb-button{
    background-position: -4px -4px;
}

.fb-button:hover{
    background-position: -33px -4px;
}

.fb-button:active{
    background-position: -61px -4px;
}



.tw-button{
    background-position: -4px -32px;
}

.tw-button:hover{
    background-position: -33px -32px;

}

.tw-button:active{
    background-position: 29px -32px;

}



.youtube-button{
    background-position: -4px -61px;
}

.youtube-button:hover{
    background-position: -33px -61px;
}

.youtube-button:active{
    background-position: 29px -61px;
}



.instagram-button{
    background-position: -4px -89px;
}

.instagram-button:hover{
    background-position: -33px -89px;
}

.instagram-button:active{
    background-position: 29px -89px;
}